@import 'tailwindcss';

@theme {
	--font-sans: 'Work Sans Variable', sans-serif;
	--font-brand: 'Momo Signature', sans-serif;
	--scrollbar-track: theme('colors.neutral.700');
	--scrollbar-thumb: theme('colors.neutral.500');
}

@utility squircle {
	corner-shape: squircle;
}

@utility scrollbar-* {
	scrollbar-width: --value('none', 'thin', 'thick');
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

@utility track-* {
	--scrollbar-track: --value(--color-*);
}

@utility thumb-* {
	--scrollbar-thumb: --value(--color-*);
}
